body {
    background: linear-gradient(to right, rgb(0, 95, 133), rgb(1, 169, 235), rgb(0, 165, 194));
}

div{
    width: 200px;
    height: 200px;
    
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    border-radius: 10px;
}

h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}